@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.woff')
}
@font-face {
    font-family: 'TT Lakes Medium';
    src: url('../fonts/TTLakes-Medium.woff')
}
@font-face {
    font-family: 'TT Lakes Thin';
    src: url('../fonts/TTLakesCondensed-Thin.woff')
}
@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes-Bold.woff')
}