.footer {
	min-width: 320px;
	&__item {
		font-family: TT Lakes;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0px;
		text-align: center;
		color: #7E7E82;
		mix-blend-mode: normal;
		opacity: 0.72;
		margin-left: auto;
		margin-right: auto;
		@media (min-width: 768px) {   
		}
	}

}
.footer__link{
	text-decoration: none;
	color: inherit;
	margin-left: auto;
		margin-right: auto;
	  }
.footer__list{
	display: flex;
    flex-wrap: wrap;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;    
	background: #F8F8F8;
}
.author{
	display: block;
	width: 100%;
	@media (min-width: 768px) {    
		width: 220px;  
		display: flex;
		justify-content: flex-start;
		margin-left: 0;
		text-align: left;
	}
}
.polite{
	display:block;
	@media (min-width: 768px) {  
		width: 220px;      
		display: flex;
		justify-content: center;
	}
}
.public{
	display:block;
	@media (min-width: 768px) {
		width: 250px;        
		display: flex;
		justify-content: flex-end;
		text-align: right;
		margin-right: 40px;
	}
	@media (min-width: 1124px) {
		width: 330px;
	}
}