
$var1: #f2f2f2;
$var2: #ffffff;
$var3: #1B1C21;
$var4: #7E7E82;
$var5: #41F6D7;
$var6: #EAEAEA;
$var7: #B5B6BC;
$var8: #FF3E79;

.wrapper{
    width: 100%;
}
.content {
    min-width:320px;
    font-family: 'TT Lakes Condensed';
    height:597px;
    margin: 0;
    
    @media screen and (min-width: 768px) {
        font-family: 'TT Lakes Condensed';
        min-width: 768px;;
    }
    @media screen and (min-width: 1366px) {
        font-family: 'TT Lakes Condensed';
        min-width: 1120px;
        height: 535px;
        background: #F8F8F8;
        flex-basis: 80;
        flex-direction: column;
    }
}
.header {
	height: 88px;
	display: flex;
	background-color: #FFFFFF;
	align-items: center;
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid pink;
	&__menu-btn {
		display: flex;
		align-items: center;
	}
	&__logo {
		margin-left: 16px;
		display: flex;
		align-items: center;
		padding: 0;
		cursor: pointer;
	}
	&__info-buttons {
		margin-left: auto;
		padding: 0;
	}
    @media screen and (min-width: 768px) {
        height: 88px;
        background-color:#FFFFFF;
        display: flex;
        align-content: center;
    }
    @media screen and (min-width: 1366px) {
        height: 0;
        &__menu-btn {
            display: none;
        }
    }
}
.button--burger-menu {
  background-image: url(../img/header/burger.png);
}
.button {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	cursor: pointer;
	border: 0;
	&--call {
    background-image: url(../img/header/call.png);
	}
	&--chat {
    background-image: url(../img/header/chat.png);
	}
	&--profile {
    background-image: url(../img/header/profile.png);
	}
	&--repair {
    background-image: url(../img/header/repair.png);
	}
	&--checkstatus {
    background-image: url(../img/header/checkstatus.png);
	}
}
.logo{
    @media screen and (min-width: 1366px) {
        display: none;
    }
}
.logo::before {
	content: '';
    background-image: url(../img/divider.png);
	height: 30px;
	width: 2px;
	padding: 0;
	margin-right: 16px;
}
.info-list {
	display: flex;
	align-items: center;
	&__item {
		list-style-type: none;
		&:first-child {
			margin-right: 16px;
		}
	}
	&__title {
		display: none;
	}
	&__item {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	
    @media screen and (min-width: 1366px) {
        display: flex;
        position: absolute;
        z-index: 1;
        top: 8px;
        right: 24px;
        &__item {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
        &__label {
            display: flex;
            text-decoration: none;
        }
        &__title {
            display: flex;
            margin-top: 8px;
            margin-right: 8px;
            font-family: TT Lakes;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $var3;
        }
        &__label {
            display: flex;
            text-decoration: none;
        }
        &__title {
            display: flex;
            margin-top: 8px;
            margin-right: 8px;
            font-family: TT Lakes;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $var3;
        }
    }
}
.header__contact-list{
    @media screen and (min-width: 768px) {
        &::after {
            content: '';
            height: 40px;
            width: 2px;
            padding: 0;
            margin-right: 16px;
            display: block;
            background-image: url(../img/divider.png);
        }
    }
    @media screen and (min-width: 1366px) {
        display: none;
        &::after {
            content: '';
            height: 40px;
            width: 2px;
            padding: 0;
            margin-right: 16px;
            display: none;
            background-image: url(../img/divider.png);
        }
    }
}
.header__contact-list-item{
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-right: 16px;
    }
    @media screen and (min-width: 1366px) {
        display: none;
    }
}
.contact-list {
    @media screen and (min-width: 768px) {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        &__item {
            margin-right: 16px;
        }
        &__button {
            display: flex;
        }
    }
}