
.main {
	background-color:#F8F8F8 ;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	&__article {
		display: flex;
		flex-direction: column;
		padding: 0;
		justify-content: space-between;
		width: 100%;
	}
	&__title {
		margin-bottom: 0px;
		margin-top: 24px;
		display: flex;
		margin-left: 20px;
		&::before {
			margin-left: -20px;
		}
	}
	&__nav {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
    @media screen and (min-width: 768px) {
        background-color: #f8f8f8;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &__title {
            margin-left: 24px;
            &::before {
                margin-left: -24px;
            }
        }
        &__article {
            display: flex;
			flex-direction: row;
            padding: 0;
            justify-content: space-between;
            width: 100%;
        }
    }
    @media screen and (min-width: 1124px) {
		height: auto;
		&__title {
			margin-left: 38px;
			&::before {
                margin-left: -36px;
                margin-right: 20px;
            }
		}
    }
}

