

$var1: #f2f2f2;
$var2: #ffffff;
$var3: #1B1C21;
$var4: #7E7E82;
$var5: #41F6D7;
$var6: #EAEAEA;
$var7: #B5B6BC;
$var8: #FF3E79;
$var9: #F8F8F8;
$var10: #B8FFEC;

.main {
	background-color:$var9 ;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	&__article {
		display: flex;
		flex-direction: column;
		padding: 0;
		justify-content: space-between;
		width: 100%;
	}
	&__title {
		margin-bottom: 0px;
		margin-top: 24px;
		display: flex;
		&::before {
			margin-left: -24px;
			margin-right: 24px;
		}
		&::before {
			margin-left: -20px;
			margin-right: 20px;
		}
	}
	&__nav {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	&__title {
		margin-left: 24px;
	}
	&__title {
		margin-left: 20px;
    }
    @media screen and (min-width: 768px) {
        background-color: f8f8f8;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &__title {
            margin-left: 24px;
            &::before {
                margin-left: -26px;
                margin-right: 24px;
            }
            &::before {
                margin-left: -24px;
                margin-right: 20px;
            }
        }
        &__article {
            display: flex;
			flex-direction: row;
            padding: 0;
            justify-content: space-between;
            width: 100%;
        }
        &__article {
            // height: 300px;
        }
    }
    @media screen and (min-width: 1124px) {
		height: auto;
		&__title {
			margin-left: 38px;
			&::before {
                margin-left: -36px;
                margin-right: 20px;
            }
		}
    }
}
.title::before {
	content: '';
  background-image: url(../img/highlight.png);
	height: 40px;
	width: 4px;
	margin-right: 20px;
}
.title {
	font-family: TT Lakes ;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: 0.6px;
}
.nav__list {
	display: flex;
	overflow: hidden;
	overflow-x: scroll;
	flex-wrap: nowrap;
    list-style-type: none;
    @media screen and (min-width: 1366px) {
        overflow: hidden;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
}
.nav__item {
	padding: 10px;
	margin-left: -20px;
}
.nav__link {
	padding: 8px;
	background-color: $var9;
	border: none;
	cursor: pointer;
	padding-left: 16px;
	padding-right: 20px;
	font-family: TT Lakes;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2 px;
	color: $var4;
	white-space: nowrap;
	text-decoration: none;
	&--active {
		background: $var2;
		border: 2px solid $var10;
		box-sizing: border-box;
		border-radius: 6px;
	}
}
.next-button {
	border: none;
	display: flex;
	outline: none;
	cursor: pointer;
}
.section__next-button {
	cursor: pointer;
    @media screen and (min-width: 768px) {
       display: flex;
	   flex-wrap: nowrap;
   }
}
.wrapper {
    @media screen and (min-width: 1366px) {
        display: flex;
    }
}
.menu-container {
    @media screen and (min-width: 1366px) {
        display: flex;
    }
}

