.section {
    background-color: #F8F8F8;
    &__title {
        margin-left: 28px;
        background: linear-gradient(90deg, #F8F8F8 40%, #FFFFFF 60%);
        width: auto;
        font-family: "TT Lakes Thin",sans-serif;
        font-size: 20px;
        line-height: 58px;
        letter-spacing: -0.2px;
        color: #7e7e82;
        text-transform: uppercase;
        white-space: nowrap;
        @media (min-width: 768px) {
        margin-left: 36px;
        background: linear-gradient(90deg, #F8F8F8 40%, #FFFFFF 60%);
        padding-bottom: 0;
        margin-top: 10px;
        width: auto;
        }
    }
    &__footer {
        display: none;
        @media (min-width: 768px) {          
            width: 421px;
            height: 150px;
            margin-left: 28px;
            display: block;
        }
        @media (min-width: 1124px) {          
          margin-left: 38px;
        }
    }
    &__footer-text {
        @media (min-width: 768px) {          
            font-family: TT Lakes;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            text-align: left;
            color: #1B1C21;
        }
    }
}