.brands {
  height: 140px;
  overflow: hidden;
  background-color: #f8f8f8;
  margin-left: 10px;
  @media (min-width: 768px) {
    height: 180px;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }
  @media (min-width: 1124px) {
    margin-left: 18px;
  }
}
.section {
  background-color: #F8F8F8;
}
.brands__list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  @media (min-width: 768px) {
    min-width: 768px;
    flex-wrap: wrap;
    display: flex;
    overflow: hidden;
    padding: 0;
  }
 
}
.brands__item {
  list-style-type: none;
  max-height: 72px;
  max-width: 240px;
  margin-bottom: 16px;
  margin-left: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }
  @media (min-width: 768px) {
    max-width: 224px;
    margin-left: 16px;
    overflow: hidden;
  }
}
.button--open {
  background-image: url(../img/service/go.png);
  background-color: white;
}
.brands__link {
  text-decoration: none;
  outline: none;
  width: 240px;
  height: 72px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 16px;
  background: #ffffff;
  border-radius: 6px;
  @media (min-width: 768px) {
    width: 224px;
    height: 72px;
  }
}
.section__title {
  margin-left: 28px;
  background: linear-gradient(90deg, #F8F8F8 40%, #FFFFFF 60%);
  width: auto;
  font-family: "TT Lakes Thin",sans-serif;
  font-size: 20px;
  line-height: 58px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-transform: uppercase;
  white-space: nowrap;
  @media (min-width: 768px) {
    margin-left: 36px;
    background: linear-gradient(90deg, #F8F8F8 40%, #FFFFFF 60%);
    padding-bottom: 0;
    margin-top: 10px;
    width: auto;
  }
}
.brands__button {
  margin-left: auto;
  outline: none;
}
.brands__next-button {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    margin-left: 28px;
    padding: 16px;
    padding-left: 0;
    background-color: #f8f8f8;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
}
.brands__pagination {
  border: none;
  background: #F8F8F8;
  @media (min-width: 768px) {
    display: none;
  }
}
.brands--open {
  height: auto;
}
